@charset "UTF-8";

.container{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
}

.caixa1{
    text-align: center;
    background-color: rgba(223, 16, 16, 0.959);
    grid-area: 1/ 1/ 2/ -1;
}
.caixa2{
    background-color: green;
    text-align: center;
    grid-area: 2/ 1/ 4/ 3;
}
.caixa3{
    background-color: blue;
    text-align: center;
    grid-row: 2/ span 2;
    grid-column: 3/ span 2;
    grid-area: 2/3/4/5;
}