@charset "UTF-8";
/*
Mobile pequeno (portrait): 320px – 480px

Mobile grande (landscape): 481px – 600px

Tablet retrato: 601px – 768px

Tablet paisagem / laptop pequeno: 769px – 1024px

Desktop padrão: 1025px – 1200px

Telas grandes / extra-large: 1201px ou mais
*/



@media screen and (min-width: 768px){
    span#buguer{
        display: none;
    }
    #itens{
        display: block;
    }
    menu > ul > li{
        display: inline-block;
    }
    main{
       width: ; 
    }
}